  .container {
    display: flex; 
    
    border: 4px solid brown;
    
    flex: 1; 
    flex-direction: row;
  }

  .vertical {
    flex-direction: column;
    flex: 1 ; 
  }
  .main{
    height: 500px; 
    flex-direction: column;
    flex: 1 ; 
  }

  

  .dark {
    
    background: grey;
    color:white;
  }

  .light {
    
    background: white;
    color:black;
    
  }
