  .container {
    display: flex; 
    
    
    
    flex: 1; 
    flex-direction: row;
    
    justify-content: center;
  }

  .project_picture {
    height: auto;
    width: 50px;
  }

  .vertical {
    flex-direction: column;
    flex: 1 ; 
  }
  .main{
    height: 1000px; 
    flex-direction: column;
    flex: 1 ; 
  }

  .portfolio_display {
    
    align-items: center;
    justify-content: center;
    gap: 100px;
  }

  .dark {
    
    background: #1f2937;
    color:#F9FAF8;
  }

  .light {
    
    background: #E5E7EB;
    color:#1F2937;
    
  }

  img {
    height: auto;
    width: 50px;
  }

  #cv_picture {
    height: auto;
    width: 300px;
  }

  #social_media > div{
    display:block
  }

  #social_media {
    justify-content: center;
    gap:40px;
  }
  

  
